<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <% if @cart_items.length > 0 %>
            <div class="column">
                <div class="container">
                    <% @cart_items.each do |cart_item| %>
                        <div class="columns">
                            <div class="column is-one-quarter">
                                <%= image_tag(cart_item.item_variant.image) %>
                            </div>
                            <div class="column is-one-half">
                                <%= link_to cart_item.item_variant.item.name.titleize, item_path(:id => cart_item.item_variant.item.id) %> - <%= cart_item.item_variant.variant.name %>
                            </div>
                            <div class="column is-one-quarter">
                                <%= form_with(url: "/update_cart/#{cart_item.item_variant.id}") do %>
                                    <%= label_tag("Quantity: ") %>
                                    <%= number_field_tag 'quantity', cart_item.quantity, min: 1, max: 100, step: 1 %>
                                    <p>
                                        <%= submit_tag("Update", :class => 'button is-info is-light is-small') %>
                                        <%= link_to 'Remove', remove_from_cart_path(cart_item.item_variant.id), :class => 'button with-margin is-danger is-light is-small' %>
                                    </p>
                                <% end %>
                                <p><%= cart_item.item_variant.item.price * cart_item.quantity %> Bells</p>
                            </div>
                        </div>
                    <% end %>
                </div>
                <div class="container">
                    <div class="columns">
                        <div class="column is-three-quarters"></div>
                        <div class="column is-one-quarter">
                            <p><%= link_to raw('Checkout  &nbsp; &#9654;'), checkout_path, :class => 'button is-danger' %></p>
                        </div>
                    </div>
                </div>
            </div>
            <% else %>
            <div class="column">
                <p>There are no items in your cart.</p>
                <p><%= link_to 'Go Shopping!', items_path, :class => 'button is-danger' %></p>
            </div>
            <% end %>
        </div>
    </div>
</section>