<header>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-one-quarter">
                    <h1 class="title is-1"><%= link_to "Nook's eCranny", root_path %></h1>
                </div>
                <div class="column is-one-quarter">
                    <div class="columns search">
                        <div class="column">Search</div>

                    </div>
                </div>
                <div class="column is-half">
                    <div class="columns links">
                        <div class="column"><%= link_to 'Shop', items_path %></div>
                        <div class="column"><%= link_to 'Categories', types_path %></div>
                        <div class="column"><%= link_to 'Tags', tags_path %></div>
                        <div class="column"><%= link_to 'Variants', variants_path %></div>
                        <div class="column"><%= link_to 'Login', variants_path %></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>