<header>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title is-2"><%= link_to "Nook's eCranny", root_path %></h1>
        </div>
        <div class="column">
          <div class="columns">
            <% if customer_signed_in? %>
              <div class="column">
                <%= link_to 'Log Out', destroy_customer_session_path, method: :delete, class: "navlink" %>
              </div>
            <% else %>
              <div class="column">
                <%= link_to 'Sign Up', new_customer_registration_path, class: "navlink" %>
              </div>
              <div class="column">
                <%= link_to 'Log In', new_customer_session_path, class: "navlink" %>
              </div>
            <% end %>
            <div class="column">
              <%= link_to "Cart (#{@item_size}) ", cart_path %></div>
              <!-- (#{ session[:items].length }) -->
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column"></div>
          <div class="column">
            <div class="columns links">
              <div class="column"><%= link_to 'Shop', items_path, class: "navlink" %></div>
              <div class="column"><%= link_to 'Categories', types_path, class: "navlink" %></div>
              <div class="column"><%= link_to 'Tags', tags_path, class: "navlink" %></div>
              <div class="column"><%= link_to 'Variants', variants_path, class: "navlink" %></div>
            </div>
            <div class="scontent"></div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="columns">
          <div class="column">
            <br>
            <%= form_for "", url: items_path, role: "search", method: :get do %>
              <%= text_field_tag :search, @search_term, placeholder: "Search items..." %>
              <%= select_tag :type_id, options_for_select(@type_options) %>
              <%= submit_tag("Search Items") %>
            <% end %>
          </div>
        </div>
      </div>
  </section>
</header>